body {
    background-color: var(--current-background);
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

.spectral-purple-display {
    --grid-color: rgba(var(--current-text-color-rgb), 0.3);
    background-color: var(--current-purple-color);

    height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: monospace;

    display: flex;
    flex-direction: column;
}

.spectral-purple-display .content {
    position: relative;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spectral-purple-display .grid {
    position: absolute;
    inset: 0;
    top: -80%;
    left: -100%;
    width: 300%;
    height: 200%;
    background-image:
            repeating-linear-gradient(to right, var(--grid-color) 0 4px, transparent 1px 20px),
            repeating-linear-gradient(to bottom, var(--grid-color) 0 8px, transparent 1px 80px);
    background-blend-mode: lighten;
    background-size: 100% 200%;
    transform-origin: bottom;
    transform: perspective(600px) rotateX(22deg) scaleY(1.5);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    overflow: hidden;
}

.spectral-purple-display .grid-glow {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    height: 45%;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(to bottom, rgb(119 76 167 / 80%) 0%, rgb(86 31 154 / 60%) 20%, rgb(79 45 155 / 30%) 50%, rgba(0, 0, 0, 0) 100%);
    filter: blur(5px);
    mix-blend-mode: screen;
}

.text-button {
    font-size: 1.8em;
    font-family: monospace;
    font-weight: bold;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 6px var(--highlight);
    text-decoration: none;
}

.spectral-charts-container {
    position: absolute;
    height: 100%;
    right: 18.3rem;
    z-index: 15;
    animation: spectral-flicker 2s ease-in 1.4s forwards;
    opacity: 0;
}

.spectral-charts-container svg {
    width: 100%;
    height: 100%;
}

.x-target-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.x-target-container .diagonal-line-1::before {
    content: '';
    position: absolute;
    left: -8%;
    bottom: 19%;
    width: 110%;
    height: 1px;
    opacity: 0.4;
    background: var(--highlight);
    transform: rotate(327deg);
    z-index: 10;
}

.x-target-container .diagonal-line-2::before {
    content: '';
    position: absolute;
    right: -41%;
    bottom: 19%;
    width: 112%;
    height: 1px;
    opacity: 0.4;
    background: var(--highlight);
    transform: rotate(32deg);
    z-index: 10;
}

.overlay-text {
    position: absolute;
    color: var(--current-text-color);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.overlay-text h1 {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 12px var(--highlight);
}

.overlay-text {
    position: absolute;
    color: var(--current-text-color);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.overlay-text h1 {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 12px var(--highlight);
}

.left-numbers {
    position: absolute;
    left: 2rem;
    top: 0;
    bottom: 0;
    margin: 1rem;
    z-index: 100;
    color: var(--current-text-color);
}

.number-line {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.number-line .number {
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: 1.6em;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 0 0 6px var(--highlight);
}

.number-line .line {
    width: 100vw;
    height: 4px;
    background: var(--highlight);
    opacity: 0.4;
    box-shadow: 0 0 6px var(--highlight);
    transform-origin: left;
    animation: loadLine 1.5s ease-out forwards;
    transform: scaleX(0);
}

@keyframes loadLine {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.number-line.top-1 {
    top: 20%;
}

.number-line.top-2 {
    top: 30%;
}

.number-line.top-3 {
    top: 40%;
}

.number-line.bottom-1 {
    bottom: 20%;
}

.number-line.bottom-2 {
    bottom: 10%;
}

.spectral-purple-display .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 1px solid var(--grid-color);
    padding-left: 3rem;
    padding-right: 3rem;
}

.spectral-purple-display .footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spectral-purple-display .footer .row:first-child {
    margin-bottom: 2rem;
}

.spectral-purple-display .footer .row > div:first-child,
.spectral-purple-display .footer .row > div:last-child {
    width: 100px;
}

.spectral-purple-display .footer .row > div:last-child {
    text-align: right;
}

.spectral-purple-display .footer h2 {
    font-size: 2em;
    margin: 0;
}

.spectral-purple-display .footer h3 {
    font-size: 18px;
    margin: 0;
}

.spectral-purple-display .footer h4 {
    font-size: 16px;
    margin: 0;
}

@media (prefers-color-scheme: light) {
    body:not(.override-theme) {

        --current-text-color: var(--text-dark);
        --current-text-color-inverse: var(--text-dark-inverse);
        --current-text-color-rgb: 0, 0, 0;

        --current-background: var(--background-light);

        --current-blue-color: var(--blue-light);
        --current-red-color: var(--red-light);
        --current-greed-color: var(--green-light);
        --current-purple-color: var(--purple-light);
    }
}

@media (prefers-color-scheme: dark) {
    body:not(.override-theme) {

        --current-text-color: var(--text-light);
        --current-text-color-inverse: var(--text-light-inverse);
        --current-text-color-rgb: 255, 255, 255;

        --current-background: var(--background-dark);

        --current-blue-color: var(--blue-dark);
        --current-red-color: var(--red-dark);
        --current-greed-color: var(--green-dark);
        --current-purple-color: var(--purple-dark);
    }
}

@keyframes spectral-flicker {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.3;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.1;
    }
    25% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
