/* ==========================================================================
   VARIABLES (Custom properties)
   ========================================================================== */

/* ==========================================================================
   BASE STYLES (html, body, headings, paragraphs)
   ========================================================================== */

body {
    background-color: var(--current-background);
    font-family: sans-serif;
    margin: 0;
}

main {
}

/* ==========================================================================
   LAYOUT (Containers, grids, header, footer)
   ========================================================================== */

.spectral-purple-display {
    --grid-color: rgba(var(--current-text-color-rgb), 0.3);
    background-color: var(--current-purple-color);

    height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: monospace;

    display: flex;
    flex-direction: column;
}

.spectral-purple-display .content {
    position: relative;
    flex: 1;
    overflow: hidden;
}

/* === Grid lines === */
.spectral-purple-display .grid {
    position: absolute;
    inset: 0;
    top: -80%;
    left: -100%;
    width: 300%;
    height: 200%;
    background-image:
            repeating-linear-gradient(to right, var(--grid-color) 0 4px, transparent 1px 20px),
            repeating-linear-gradient(to bottom, var(--grid-color) 0 8px, transparent 1px 50px);
    background-blend-mode: lighten;
    background-size: 100% 200%;
    transform-origin: bottom;
    transform: perspective(600px) rotateX(22deg) scaleY(1.5);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    overflow: hidden;
}

/* NOTE: The blur needs to be fixed and positioned above the grid */
.spectral-purple-display .grid::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%; /* how far the glow spreads downward */
    pointer-events: none;

    background: linear-gradient(
            to bottom,
            rgba(200, 150, 255, 0.9) 0%,   /* bright at the very top */
            rgba(200, 150, 255, 0.6) 10%,  /* glowing core area */
            rgba(120, 60, 255, 0.2) 30%,   /* soft fade */
            rgba(0, 0, 0, 0) 100%          /* transparent by mid-grid */
    );

    filter: blur(40px);
    opacity: 1;
    mix-blend-mode: screen; /* brightens existing lines */
}

/* NOTE: Adjust the curves and create new ones */

.spectral-purple-display .diagonal-line-1::before {
    content: '';
    position: absolute;
    left: -5%;
    bottom: 19%;
    width: 102%;
    height: 1px;
    opacity: 0.4;
    background: var(--highlight);
    transform: rotate(-35deg);
}

.spectral-purple-display .diagonal-line-2::before {
    content: '';
    position: absolute;
    right: -36%;
    bottom: 19%;
    width: 102%;
    height: 1px;
    opacity: 0.4;
    background: var(--highlight);
    transform: rotate(35deg);
}

/*.spectral-purple-display .diagonal-curve::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 26%;*/
/*    bottom: -14%;*/
/*    width: 79%;*/
/*    height: 598px;*/
/*    border: 4px solid var(--highlight);*/
/*    border-radius: 50%;*/
/*    opacity: 1;*/
/*    filter: drop-shadow(0 0 10px var(--highlight));*/
/*    transform: rotate(141deg) scaleY(1);*/
/*}*/

.spectral-purple-display .curve-1::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 35%;
    width: 10%;
    height: 266px;

    border: 1px solid var(--highlight);
    border-radius: 50%;
    transform: translateY(-50%) scaleY(5.5);
    opacity: 1;
    filter: drop-shadow(0 0 8px var(--highlight));

    background-image:
            repeating-linear-gradient(
                    to right,
                    rgba(var(--highlight-rgb), 0.22) 0px,
                    rgba(var(--highlight-rgb), 0.22) 2px,
                    rgba(var(--highlight-rgb), 0.06) 2px,
                    rgba(var(--highlight-rgb), 0.06) 14px
            ),
            linear-gradient(transparent, transparent);

    background-position: 0 0;

    background-clip: padding-box;
    background-origin: padding-box;

    background-size: auto 100%;
}

.spectral-purple-display .curve-2::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 36%;
    width: 25%;
    height: 154px;
    border: 1px solid var(--highlight);
    border-radius: 50%;
    transform: translateY(-50%) scaleY(5.5);
    opacity: 1;
    filter: drop-shadow(0 0 8px var(--highlight));

}

.spectral-purple-display .curve-3::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 59%;
    width: 25%;
    height: 154px;
    border: 1px solid var(--highlight);
    border-radius: 50%;
    transform: translateY(-50%) scaleY(5.5);
    opacity: 1;
    filter: drop-shadow(0 0 8px var(--highlight));

}

/* === Text overlay === */
.overlay-text {
    position: absolute;
    color: var(--current-text-color);
    top: 40%;
    right: 15%;
    z-index: 2;
}

.overlay-text h1 {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 12px var(--highlight);
}

/* === Text overlay 2 === */
.overlay-text-2 {
    position: absolute;
    color: var(--current-text-color);
    bottom: 0;
    left: 2rem;
    z-index: 2;
}

/* === Footer === */
.spectral-purple-display .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 1px solid var(--grid-color);
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-404 {
    text-align: center;
    margin: 100px auto;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--current-red-color);

    h1 {
        color: var(--current-text-color-inverse);
        font-size: 60px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 52px;
        text-transform: uppercase;
    }

}

.container-404-diagnostics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--current-text-color-inverse);
    font-family: monospace;

    .row {
        display: flex;
        border-bottom: 1px solid var(--current-red-color);;
        border-top: 2px solid var(--current-red-color);;
    }

    .label {
        width: 200px;
        background-color: var(--current-red-color);
        padding: 8px;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
    }

    .data {
        flex: 1;
        padding: 8px;
        position: relative;
        overflow: hidden;
    }

    /* animated line simulating heartbeat */
    .data::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: repeating-linear-gradient(
                to right,
                #fff 0,
                #fff 2px,
                transparent 4px,
                transparent 6px
        );
        animation: pulse 2s linear infinite;
    }

}

/* ==========================================================================
   COMPONENTS (buttons, cards, modals, forms)
   ========================================================================== */

/* ==========================================================================
   MEDIA QUERIES (responsive breakpoints)
   ========================================================================== */

@media (prefers-color-scheme: light) {
    body:not(.override-theme) {

        --current-text-color: var(--text-dark);
        --current-text-color-inverse: var(--text-dark-inverse);
        --current-text-color-rgb: 0, 0, 0;

        --current-background: var(--background-light);

        --current-blue-color: var(--blue-light);
        --current-red-color: var(--red-light);
        --current-greed-color: var(--green-light);
        --current-purple-color: var(--purple-light);
    }
}

@media (prefers-color-scheme: dark) {
    body:not(.override-theme) {

        --current-text-color: var(--text-light);
        --current-text-color-inverse: var(--text-light-inverse);
        --current-text-color-rgb: 255, 255, 255;

        --current-background: var(--background-dark);

        --current-blue-color: var(--blue-dark);
        --current-red-color: var(--red-dark);
        --current-greed-color: var(--green-dark);
        --current-purple-color: var(--purple-dark);
    }
}

@keyframes pulse {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
