/* ==========================================================================
   VARIABLES (Custom properties)
   ========================================================================== */

/* ==========================================================================
   BASE STYLES (html, body, headings, paragraphs)
   ========================================================================== */

body {
    background-color: var(--current-background);
    font-family: sans-serif;
}

main {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

/* ==========================================================================
   LAYOUT (Containers, grids, header, footer)
   ========================================================================== */

/* ==========================================================================
   COMPONENTS (buttons, cards, modals, forms)
   ========================================================================== */

.spectral-purple-display {
    background-color: var(--current-purple-color);
    min-height: 600px;

    .content {
        position: relative;
        height: 80%;
    }

    .footer {
        height: 20%;
    }

}

.container-404 {
    text-align: center;
    margin: 100px auto;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--current-red-color);

    h1 {
        color: var(--current-text-color-inverse);
        font-size: 60px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 52px;
        text-transform: uppercase;
    }

}

.container-404-diagnostics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--current-text-color-inverse);
    font-family: monospace;

    .row {
        display: flex;
        border-bottom: 1px solid var(--current-red-color);;
        border-top: 2px solid var(--current-red-color);;
    }

    .label {
        width: 200px;
        background-color: var(--current-red-color);
        padding: 8px;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
    }

    .data {
        flex: 1;
        padding: 8px;
        position: relative;
        overflow: hidden;
    }

    /* animated line simulating heartbeat */
    .data::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: repeating-linear-gradient(
                to right,
                #fff 0,
                #fff 2px,
                transparent 4px,
                transparent 6px
        );
        animation: pulse 2s linear infinite;
    }

}

/* ==========================================================================
   THEME OVERRIDES (dark mode, theme variables)
   ========================================================================== */

/* ==========================================================================
   MEDIA QUERIES (responsive breakpoints)
   ========================================================================== */

@media (prefers-color-scheme: light) {
    body:not(.override-theme) {

        --current-text-color: var(--text-dark);
        --current-text-color-inverse: var(--text-dark-inverse);

        --current-background: var(--background-light);

        --current-blue-color: var(--blue-light);
        --current-red-color: var(--red-light);
        --current-greed-color: var(--green-light);
        --current-purple-color: var(--purple-light);
    }
}

@media (prefers-color-scheme: dark) {
    body:not(.override-theme) {

        --current-text-color: var(--text-light);
        --current-text-color-inverse: var(--text-light-inverse);

        --current-background: var(--background-dark);

        --current-blue-color: var(--blue-dark);
        --current-red-color: var(--red-dark);
        --current-greed-color: var(--green-dark);
        --current-purple-color: var(--purple-dark);
    }
}

@keyframes pulse {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
